.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color:rgb(13, 88, 110);
    font-size: 50px;
    font-weight: 700;
}
.underline{
    width:61px;
    height:6px;
    background:#9d007b;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width:480px;
    height:80px;
    background: #eaeaea;
    /* background-color: #797979; */
    border-bottom: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height:50px;
    width:400px;
    background: transparent;
    border:none;
    outline: none;
    color:#797979;
    font-size: 18px;
}
.forgot-password{
    padding-left: 63px;
    margin-top: 27px;
    color:#797979;
    font-size: 18px;
}

.forgot-password span{
    color:#3c009d;
    cursor: pointer;
}
.submit-container{
    display:flex;
    gap:30px;
    margin:60px auto;
}
.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width:220px;
    height:59px;
    color:#fff;
    background: #9d005e;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color:#676767;
}